<mat-card id="pixelPaintContainer">
  <div *ngIf="!isFullScreen" id="clickToStart" (click)="toggleFullScreen()">
    <h1>Click To Start!</h1>
  </div>
  <div *ngIf="isFullScreen">
    <mat-card-title>
      Color
      <input  [(colorPicker)]="pixelPaintColor" [style.background]="pixelPaintColor" cpOutputFormat="rgba" cpWidth="auto"
        cpAlphaChannel="disabled"
        [cpCloseClickOutside]="true" 
        [cpToggle]="true"
        (colorPickerOpen)="runChangeDetection()"
        (colorPickerClose)="runChangeDetection()"
        (colorPickerChange)="runChangeDetection()"
        (colorPickerCancel)="runChangeDetection()"
        (colorPickerSelect)="runChangeDetection()"
        (cpToggleChange)="runChangeDetection()"
        (cpInputChange)="runChangeDetection()"
        (cpSliderChange)="runChangeDetection()"
        (cpSliderDragStart)="runChangeDetection()"
        (cpSliderDragEnd)="runChangeDetection()"
        (cpCmykColorChange)="runChangeDetection()"
        (cpPresetColorsChange)="runChangeDetection()"
        style="border: none;"
        />
      <button button mat-raised-button id="fullscreenButton" (click)="toggleFullScreen()">Exit</button>
      <button button mat-raised-button (click)="clearScreen()">Clear Pixels</button>
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list [cols]="xAxisLength" rowHeight="1:1" id="paintTiles" >
        <mat-grid-tile *ngFor="let tile of tilesToDisplay" [style.background]="tile.color" (pan)="panOverTile($event)"
          (touchstart)="touchTile(tile.index)" [id]="tile.index">
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </div>
</mat-card>
