<mat-card>
  <mat-card-title class="top-level-controls">
    Brightness <mat-slider min="0" max="1" step="0.1" thumbLabel="true"
      [formControl]="lightArrayFormGroup.controls.brightness">
    </mat-slider>
    Color <input [(colorPicker)]="selectedColor" [style.background]="selectedColor" style="border: none; width: 30px;"
      cpWidth="230px" cpOutputFormat="rgba" cpAlphaChannel="disabled" (cpSliderDragEnd)="colorChange($event)" />
    Speed <mat-slider min="0" max="1" step="0.1" thumbLabel="true" [formControl]="lightArrayFormGroup.controls.speed">
    </mat-slider>
    <mat-chip selected [color]="deviceConnectionStatus.color">
      {{deviceConnectionStatus.statusText}}
    </mat-chip>
  </mat-card-title>
</mat-card>

<mat-tab-group (selectedIndexChange)="matTabSelected($event)">
  <mat-tab label="Animations">
    <form class="example-container" [formGroup]="lightArrayFormGroup">
      <mat-radio-group class="asCard" formControlName='activeAnimation'>
        <div formGroupName="animations" class="animation-group">
          <mat-card class="animation-card">
            <mat-card-title>
              <mat-radio-button value="off">
                Off
              </mat-radio-button>
            </mat-card-title>
          </mat-card>
          <mat-card formGroupName="chasingLights" class="animation-card">
            <mat-card-title>
              <mat-radio-button value="chasingLights">
                Chasing Lights
              </mat-radio-button>
            </mat-card-title>
            <mat-card-content>
              Number Of Lit Pixels <mat-slider min="0" max="400" step="1" thumbLabel="true"
                formControlName="numLitPixels">
              </mat-slider>
            </mat-card-content>
          </mat-card>
          <mat-card class="animation-card">
            <mat-card-title>
              <mat-radio-button value="pingPong">
                Ping Pong
              </mat-radio-button>
            </mat-card-title>
          </mat-card>
          <mat-card class="animation-card">
            <mat-card-title>
              <mat-radio-button value="unifiedRainbow">
                Unified Rainbow
              </mat-radio-button>
            </mat-card-title>
          </mat-card>
          <mat-card class="animation-card">
            <mat-card-title>
              <mat-radio-button value="twinkle">
                Twinkle
              </mat-radio-button>
            </mat-card-title>
          </mat-card>
          <mat-card class="animation-card">
            <mat-card-title>
              <mat-radio-button value="scanningStripe">
                Scanning Stripe
              </mat-radio-button>
            </mat-card-title>
          </mat-card>
          <mat-card class="animation-card">
            <mat-card-title>
              <mat-radio-button value="fillAndEmpty">
                Fill And Empty
              </mat-radio-button>
            </mat-card-title>
          </mat-card>
        </div>
      </mat-radio-group>
    </form>
  </mat-tab>
  <mat-tab label="Pixel Paint">
    <app-pixel-paint></app-pixel-paint>
  </mat-tab>
</mat-tab-group>
