<mat-card>
  <mat-card-title>
    Brightness <mat-slider min="0" max="1" step="0.1" thumbLabel="true" [formControl]="lightArrayFormGroup.controls.brightness">
    </mat-slider>
  </mat-card-title>
</mat-card>

<mat-tab-group (selectedIndexChange)="matTabSelected($event)">
  <mat-tab label="Animations">
    <form class="example-container" [formGroup]="lightArrayFormGroup">
      <mat-radio-group class="asCard" formControlName='activeAnimation'>
        <div formGroupName="animations">
          <mat-card>
            <mat-card-title>
              <mat-radio-button value="off">
                Off
              </mat-radio-button>
            </mat-card-title>
          </mat-card>
          <mat-card formGroupName="chasingLights">
            <mat-card-title>
              <mat-radio-button value="chasingLights">
                Chasing Lights
              </mat-radio-button>
            </mat-card-title>
            <mat-card-content>
              Speed <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
              Number Of Lit Pixels <mat-slider min="0" max="400" step="1" thumbLabel="true"
                formControlName="numLitPixels">
              </mat-slider>
              Color: <input [(colorPicker)]="chasingLightsColor" [style.background]="chasingLightsColor"
                cpOutputFormat="rgba" cpAlphaChannel="disabled"
                (cpSliderDragEnd)="colorChange($event, 'chasingLights')" />
            </mat-card-content>
          </mat-card>
          <mat-card formGroupName="pingPong">
            <mat-card-title>
              <mat-radio-button value="pingPong">
                Ping Pong
              </mat-radio-button>
            </mat-card-title>
            <mat-card-content>
              Speed <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
              Color <input [(colorPicker)]="pingPongColor" [style.background]="pingPongColor" cpOutputFormat="rgba"
                cpAlphaChannel="disabled" (cpSliderDragEnd)="colorChange($event, 'pingPong')" />
            </mat-card-content>
          </mat-card>
          <mat-card formGroupName="unifiedRainbow">
            <mat-card-title>
              <mat-radio-button value="unifiedRainbow">
                Unified Rainbow
              </mat-radio-button>
            </mat-card-title>
            <mat-card-content>
              Speed <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
            </mat-card-content>
          </mat-card>
          <mat-card formGroupName="twinkle">
            <mat-card-title>
              <mat-radio-button value="twinkle">
                Twinkle
              </mat-radio-button>
            </mat-card-title>
            <mat-card-content>
              Speed <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
              Color <input [(colorPicker)]="twinkleColor" [style.background]="twinkleColor" cpOutputFormat="rgba"
              cpAlphaChannel="disabled" (cpSliderDragEnd)="colorChange($event, 'twinkle')" />
            </mat-card-content>
          </mat-card>
          <mat-card formGroupName="scanningStripe">
            <mat-card-title>
              <mat-radio-button value="scanningStripe">
                Scanning Stripe
              </mat-radio-button>
            </mat-card-title>
            <mat-card-content>
              Speed <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
              Color <input [(colorPicker)]="scanningStripeColor" [style.background]="scanningStripeColor" cpOutputFormat="rgba"
              cpAlphaChannel="disabled" (cpSliderDragEnd)="colorChange($event, 'scanningStripe')" />
            </mat-card-content>
          </mat-card>
          <mat-card formGroupName="fillAndEmpty">
            <mat-card-title>
              <mat-radio-button value="fillAndEmpty">
                Fill And Empty
              </mat-radio-button>
            </mat-card-title>
            <mat-card-content>
              Speed <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
              Color <input [(colorPicker)]="fillAndEmptyColor" [style.background]="fillAndEmptyColor" cpOutputFormat="rgba"
              cpAlphaChannel="disabled" (cpSliderDragEnd)="colorChange($event, 'fillAndEmpty')" />
            </mat-card-content>
          </mat-card>
          <mat-card formGroupName="countdown">
            <mat-card-title>
              <mat-radio-button value="countdown">
                Countdown
              </mat-radio-button>
            </mat-card-title>
            <mat-card-content>
              Time In Seconds: <mat-slider min="0" max="30" step="0.1" thumbLabel="true"
                formControlName="timeInSeconds">
              </mat-slider>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-radio-group>
    </form>
  </mat-tab>
  <mat-tab label="Pixel Paint">
    <app-pixel-paint></app-pixel-paint>
  </mat-tab>
</mat-tab-group>
