<form class="example-container" [formGroup]="lightArrayFormGroup">
    <mat-radio-group class="asCard" formControlName='activeAnimation'>
        <div formGroupName="animations">
            <mat-card formGroupName="chasingLights">
                <mat-card-title>
                    <mat-radio-button value="chasingLights">
                        Chasing Lights
                    </mat-radio-button>
                </mat-card-title>
                <mat-card-content>
                    Speed: <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
                    Number Of Lit Pixels: <mat-slider min="0" max="50" step="1" thumbLabel="true" formControlName="numLitPixels"></mat-slider>
                    Color: <input [(colorPicker)]="chasingLightsColor" [style.background]="chasingLightsColor" cpOutputFormat="rgba" cpAlphaChannel="disabled" (cpSliderDragEnd)="colorChange($event, 'chasingLights')" />
                </mat-card-content>
            </mat-card>
            <mat-card formGroupName="pingPong">
                <mat-card-title>
                    <mat-radio-button value="pingPong">
                        Ping Pong
                    </mat-radio-button>
                </mat-card-title>
                <mat-card-content>
                    Speed: <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
                    Color: <input [(colorPicker)]="pingPongColor" [style.background]="pingPongColor" cpOutputFormat="rgba" cpAlphaChannel="disabled" (cpSliderDragEnd)="colorChange($event, 'pingPong')" />
                </mat-card-content>
            </mat-card>
            <mat-card formGroupName="unifiedRainbow">
                <mat-card-title>
                    <mat-radio-button value="unifiedRainbow">
                        Unified Rainbow
                    </mat-radio-button>
                </mat-card-title>
                <mat-card-content>
                    Speed: <mat-slider min="0" max="1" step="0.1" thumbLabel="true" formControlName="speed"></mat-slider>
                </mat-card-content>
            </mat-card>
            <mat-card formGroupName="countdown">
                <mat-card-title>
                    <mat-radio-button value="countdown">
                        Countdown
                    </mat-radio-button>
                </mat-card-title>
                <mat-card-content>
                    Time In Seconds: <mat-slider min="0" max="30" step="0.1" thumbLabel="true" formControlName="timeInSeconds"></mat-slider>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-radio-group>
</form>

<app-pixel-paint>
  
</app-pixel-paint>
