<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" mode="over" [(opened)]="isSideNavOpen">
        <mat-toolbar class="matToolbar" color="primary">
            <span>Zachary T. Rogers</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item [routerLink]="['home']" (click)="toggleSideNav()">
                <mat-icon matListIcon>home</mat-icon>
                <a matLine>Home</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['projectShowcase']" (click)="toggleSideNav()">
                <mat-icon matListIcon>work_outline</mat-icon>
                <a matLine>Project Showcase</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['bio']" (click)="toggleSideNav()">
                <mat-icon matListIcon>face</mat-icon>
                <a matLine>Bio</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['home']" (click)="toggleSideNav()">
                <mat-icon matListIcon>settings_remote</mat-icon>
                <a matLine>IoT Device</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <div class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
        <div class="wrapper">
            <app-main-content></app-main-content>
        </div>
    </div>

</mat-sidenav-container>