<!-- <p>side-nav works!</p> -->
<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" mode="over">
        <mat-toolbar class="matToolbar" color="primary">
            <span>Contact Manager</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>
                <mat-icon matListIcon>work_outline</mat-icon>
                <a matLine href="#">Project Showcase</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>face</mat-icon>
                <a matLine href="#">Bio</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>settings_remote</mat-icon>
                <a matLine href="#">IoT Device</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <div class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
        <div class="wrapper">
            <router-outlet>
            </router-outlet>
        </div>
    </div>

</mat-sidenav-container>